<header> 
	<h1>Welcome to Etsy!</h1>
<h2>Etsy is an online marketplace for buying and selling online goods</h2>
<br>

	<h2> We're using Rails <%= Rails.version %> </h2> 
</header> 
<section> 
	<p> Future home of etsy's Dashboard </p> 
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>

</section>
