<br>
<br>
<br>
<div class="container">
	<div class="col-group mt-xs-3 mt-md-6 pt-xs-2 pb-lg-4 pt-md-6 text-smaller">
           <div class="mb-xs-2 col-offset-sm-1 col-sm-4 col-lg-3">
                <h3 class="h4 strong mb-xs-2 text-left">
                 <strong>Shop </strong>
                </h3>
                <ul class="list-unstyled text-left pl-xs-1 pl-sm-0">
                     <li>
                         <a class="text-gray-darker pt-xs-1 pb-xs-2
                             pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/giftcards?ref=ftr">
                                                
                             <span>Gift cards</span>
                          </a>
                      </li>
                      <li>
                          <a class="text-gray-darker pt-xs-1 pb-xs-2
                              pb-md-1 display-block width-full" rel="nofollow" href="/blog/en/?ref=ftr">
                                                
                            <span>Etsy blog</span>
                          </a>
                        </li>
                         <li>
                             <a class="text-gray-darker pt-xs-1 pb-xs-2
                                 pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/wholesale?ref=ftr">
                                                
                              <span>Wholesale</span>
                             </a>
                         </li>
                  </ul>
             </div>
             <div class="mb-xs-2 col-sm-4 col-lg-3">
                 <h3 class="h4 strong mb-xs-2 text-left">
                    <strong>Sell</strong>
                  </h3>
                  <ul class="list-unstyled text-left pl-xs-1 pl-sm-0">
                             <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                  pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/sell?ref=ftr">
                                                
                                 <span>Sell on Etsy</span>
                                 </a>
                              </li>
                              <li>
                              <a class="text-gray-darker pt-xs-1 pb-xs-2
                               pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/teams?ref=ftr">
                              
                               <span>Teams</span>
                              </a>
                              </li>
                              <li>
                              <a class="text-gray-darker pt-xs-1 pb-xs-2
                              pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/forums?ref=ftr">
                                                
                               <span>Forums</span>
                               </a>
                               </li>
                            </ul>
                        </div>
                        <div class="mb-xs-2 col-sm-3 col-lg-3">
                            <h3 class="h4 strong mb-xs-2 text-left">
                                <strong>About</strong>
                            </h3>
                            <ul class="list-unstyled text-left pl-xs-1 pl-sm-0">
                               <li>
                               <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/about?ref=ftr">
                                                
                                <span>Etsy, Inc.</span>
                                </a>
                                </li>
                                <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/legal?ref=ftr">
                                                
                                <span>Policies</span>
                                </a>
                                </li>
                                <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://investors.etsy.com">
                                                
                                <span>Investors</span>
                                </a>
                                </li>
                                <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/careers?ref=ftr">
                                                
                                <span>Careers</span>
                                </a>
                                </li>
                                <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/press?ref=ftr">
                                                
                                <span>Press</span>
                                </a>
                                </li>
                                <li>
                                <a class="text-gray-darker pt-xs-1 pb-xs-2
                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.etsy.com/help/article/25840304230?ref=ftr">
                                                
                                <span>Legal imprint</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mb-xs-2 hide-xs hide-sm hide-md col-lg-2">
                            <h3 class="h4 strong mb-xs-2 text-left">
                                <strong>Follow Etsy </strong>
                            </h3>
                            <ul class="list-unstyled text-left pl-xs-1 pl-sm-0">
                                        <li>
                                            <a class="text-gray-darker pt-xs-1 pb-xs-2
                                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.facebook.com/Etsy">
                                                
                                                <span>Facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-gray-darker pt-xs-1 pb-xs-2
                                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.instagram.com/etsy">
                                                <span>Instagram</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-gray-darker pt-xs-1 pb-xs-2
                                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.pinterest.com/etsy">
                                                <span>Pinterest</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-gray-darker pt-xs-1 pb-xs-2
                                                pb-md-1 display-block width-full" rel="nofollow" href="https://www.twitter.com/etsy">
                                                <span>Twitter</span>
                                            </a>
                                        </li>
                            </ul>
                        </div>
                     
                </div>

</div>

