<div class="col-xs-4">
<div class="display-none show-md show-lg show-xl show-tv">
      <div class="col-group">
              <div class="col-xs-12 col-centered pl-md-1 pr-md-1">
              <p class="vesta-hp-how-etsy-works-sub-title clearfix text-body-larger text-center">
                    
                     <span class="pl-xs-2 mt-xs-1">Unique everything</span>
               </p>
               </div>
       </div>
       <div class="text-center">
          <p class="text-body vesta-hp-how-etsy-works-long-phrase horizontal-center">
            We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).
          </p>    
        </div>
 </div>
 </div>


 <div class="col-xs-4">
                    <div class="display-none show-md show-lg show-xl show-tv">
                        <div class="col-group">
                            <div class="col-xs-12 col-centered pl-md-1 pr-md-1">
                                <p class="vesta-hp-how-etsy-works-sub-title clearfix text-body-larger text-center">
                                    
                                    <span class="pl-xs-2 mt-xs-1">Independent sellers</span>
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="text-body vesta-hp-how-etsy-works-long-phrase horizontal-center">
                                Buy directly from someone who put their heart and soul into making something special.
                            </p>
                        </div>
                    </div>
                </div>

<div class="col-xs-4">
                    <div class="display-none show-md show-lg show-xl show-tv">
                        <div class="col-group">
                            <div class="col-xs-12 col-centered pl-md-1 pr-md-1">
                                <p class="vesta-hp-how-etsy-works-sub-title clearfix text-body-larger text-center">
                                    
                                    <span class="pl-xs-2 mt-xs-1">Secure shopping</span>
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="text-body vesta-hp-how-etsy-works-long-phrase horizontal-center">
                                We use best-in-class technology to protect your transactions.
                            </p>
                        </div>
                    </div>
                </div>


<div class="container-fluid">
	<div class="row"> 
<img src="/images/etsyprivacy.jpg" class="img-fluid" width=" 100% \9" alt="Responsive image">
</div>
</div>
